<a href="https://colab.research.google.com/github/KRiver28/TIL/blob/master/%EB%8F%99%EC%8B%9C%EB%B0%9C%EC%83%9D%ED%96%89%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [21]:
text =['성진과 창욱은 야구장에 갔다.', 
       '성진과 태균은 도서관에 갔다.', 
       '성진과 창욱은 공부를 좋아한다.']

In [22]:
cv = CountVectorizer()
x=cv.fit_transform(text)
x

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [24]:
x.T

<8x3 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Column format>

In [25]:
C = np.dot(x.T,x)
C.setdiag(0) # 행렬의 대각선 부분은 0으로 바꾼다.
C.toarray() # 동시발생 행렬

array([[0, 0, 1, 2, 1, 0, 1, 1],
       [0, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 1],
       [2, 1, 1, 0, 1, 1, 2, 1],
       [1, 0, 0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 0, 1, 0],
       [1, 1, 0, 2, 1, 1, 0, 0],
       [1, 0, 1, 1, 0, 0, 0, 0]], dtype=int64)

In [26]:
print(cv.vocabulary_)

{'성진과': 3, '창욱은': 6, '야구장에': 4, '갔다': 0, '태균은': 7, '도서관에': 2, '공부를': 1, '좋아한다': 5}